/{
    chosen {
        zmk,kscan = &default_kscan;
        zmk,matrix_transform = &default_kscan;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "default_kscan";

        input-gpios = <&gpio0 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                      <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                      <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                      <&gpio0 25 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                      <&gpio0 26 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };
};
